<html data-bs-theme="dark">

<head>
    <title>Song Requests</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body class="container">

    <br>
    <h2 class="text-center">Song Requests</h2>

    <p>{{ .LoggedInName }} (<a href="/logout">Sign Out</a>)</p>

    {{ if .AdminUser }}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#requests">My Requests</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#admin">Requests Admin</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#user">User Admin</a></li>
    </ul>
    <br>
    {{ else }}
    <hr>
    {{ end }}

    <div class="tab-content">
        <div id="requests" class="tab-pane fade active show">
            <div class="alert alert-info">You have <b>{{ .RequestsLeft }}</b> requests left this year, but don't worry,
                you can always buy the song
                yourself and upload it (<a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSeIkVMShKhuwtn5cKJyvJd242WNVf2vtn7elW3-myFEKrIPig/viewform">after
                    being trained</a>).</div>
            {{ if gt .RequestsLeft 0 }}
            <form action="/iwant" , method="post" , class="form" , target="_self">
                <label for="song-title">Song Title:</label>
                <input type="text" id="song-title" name="song-title" required class="form-control"><br><br>

                <label for="artist">Artist:</label>
                <input type="text" id="artist" name="artist" required class="form-control"><br><br>

                <label for="other-info">Other Information (optional):</label>
                <textarea id="other-info" name="other-info" class="form-control"></textarea><br><br>

                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            {{ end }}
            <hr>

            {{ if .SongRequests }}
            <h4>My Requests</h4>
            <table class="table table-striped table-responsive">
                {{ range .SongRequests }}
                <tr>
                    <td>{{ .Title }}</td>
                    <td>{{ .Artist }}</td>
                    <td>{{ if (eq .Uploaded "UPLOADED") }}Uploaded!{{ else if (eq .Uploaded "REJECTED") }}Rejected{{
                        else if (eq .Uploaded "CANCELLED") }}Cancelled{{
                        else }}Submitted{{ end }}</td>
                    {{ if (eq .Uploaded "NOTUPLOADED") }}
                    <td>
                        <form action="/cancel" method="post" target="_self">
                            <input type="hidden" name="id" value="{{ .ID }}">
                            <input type="submit" value="Cancel" class="btn btn-danger btn-sm">
                        </form>
                    </td>
                    {{ else }}
                    <td></td>
                    {{ end }}
                </tr>
                {{ end }}
            </table>

            <hr>

            {{ end }}

            {{ if .UnuploadedRequests }}
            <h4>Other People's Requests</h4>
            <table class="table table-striped table-responsive">
                {{ range .UnuploadedRequests }}
                <tr>
                    <td>{{ .Title }}</td>
                    <td>{{ .Artist }}</td>
                    <td>
                        <form action="/ihaveuploaded" , method="post" , target="_self">
                            <input type="hidden" name="id" value="{{ .ID }}">
                            <input type="submit" value="I've Uploaded This" class="btn btn-success btn-sm">
                        </form>
                    </td>
                </tr>
                {{ end }}
            </table>
            <hr>
            {{ end }}

        </div>

        {{ if .AdminUser }}
        <div id="admin" class="tab-pane fade">
            We have spent <b>£{{ .TotalCost }}</b>
            <br>
            <br>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title">
                            <a data-bs-toggle="collapse" href="#collapse1">View Completed Requests</a>
                        </h6>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">

                        <table class="table table-striped table-responsive">
                            {{ range .CompletedRequests }}
                            <tr>
                                <td>
                                    {{ .Title }}
                                </td>
                                <td>
                                    {{ .Artist }}
                                </td>
                                <td>
                                    {{ .UserName }}
                                </td>
                                <td>
                                    {{ .TimeStr }}
                                </td>
                                <td>
                                    <textarea>{{ .OtherInfo }}</textarea>
                                </td>
                                {{ if (eq .Uploaded "UPLOADED")}}
                                <td>£{{ .FormatCost }}</td>
                                <td>Uploaded by {{ .UploadedByName }}</td>
                                {{ else if (eq .Uploaded "REJECTED") }}
                                <td></td>
                                <td>Rejected by {{ .UploadedByName }}</td>
                                {{ else if (eq .Uploaded "CANCELLED") }}
                                <td></td>
                                <td>Cancelled</td>
                                {{ end }}
                            </tr>
                            {{ end }}
                        </table>

                    </div>
                </div>
            </div>

            <br>

            <table class="table table-striped table-responsive">
                {{ range .UnuploadedRequests }}
                <tr>
                    <td>
                        {{ .Title }}
                    </td>
                    <td>
                        {{ .Artist }}
                    </td>
                    <td>
                        {{ .UserName }}
                    </td>
                    <td>
                        {{ .TimeStr }}
                    </td>
                    <td>
                        <textarea>{{ .OtherInfo }}</textarea>
                    </td>

                    <form action="/bought" method="post" target="_self">
                        <td><input type="number" min="0" step="0.01" name="cost" required class="form-control"
                                placeholder="Cost"></td>
                        <td><input type="hidden" name="id" value="{{ .ID }}">
                            <input type="submit" value="Uploaded" class="btn btn-success btn-sm">
                        </td>

                    </form>
                    <td>
                        <form action="/reject" method="post" target="_self">
                            <input type="hidden" name="id" value="{{ .ID }}">
                            <input type="submit" value="Reject" class="btn btn-danger btn-sm">
                        </form>
                    </td>
                </tr>
                {{ end }}
            </table>

        </div>
        <div id="user" class="tab-pane fade">

            <h4>User's Remaining Requests</h4>
            <table class="table table-responsive table-striped">
                {{ range $name, $numreqs := .UserRemainingRequests }}
                <tr>
                    <td>{{ $name }}</td>
                    <td>{{ $numreqs }}</td>
                </tr>
                {{ end }}
            </table>

            <hr>

            <h4>Bonus Requests</h4>
            <form action="/bonus" target="_self" method="post" class="form row">
                <div class="col-xs-3">
                    <div class="input-group">
                        <input type="text" id="bonus" name="bonus" required class="form-control"
                            placeholder="MyRadio User ID">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>
            </form>

            <hr>
        </div>
        {{ end }}

        <footer>
            <p class="text-center ">Song Requests - version {{ .CommitHash }}</p>
        </footer>

    </div>
</body>

</html>